body{
  margin: 0;
  padding: 0;
  background-color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200vh;
} 

.secheader{
  background: #c7eef0;
}
.main-pics-cont{
  display: flex;
  justify-content: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 50%;
  font-size: -webkit-xxx-large;
  color: black;
  opacity: 1;
}
@media screen and (min-width: 576px) {
  .main-pics-cont {
    flex-direction: row;
  }
}
.fas {
  display: flex;
  justify-content: center;
}

.Welcome {
  display: flex;
  flex-flow: row nowrap;
  justify-content: inherit;
  align-items: top;
  > a {
    transform: translate(-100%, -100%);
    margin-top: 50%;
    margin-left: 37em;
    text-transform: uppercase;
    color: black;
    text-shadow: 2px 2px 4px salmon;
    line-height: 55px;
    text-decoration: none;
    font-size: 50px;
    font-family: verdana;
    letter-spacing: 30px;
    mix-blend-mode: hue;
  }

    > a:before, a:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: rgb(243, 152, 175);
      transition: 1s;
      mix-blend-mode: hue;
    }
    > a:before {
      bottom: -3px;
      left: 9px;
    }
    > a:after{
      bottom: 2.1em;
      right: 43px;
    }
    > a:hover:before,
      a:hover:after,{
      width: calc(1012px / 2);
      height: calc(200px / 0);
    }
}

.car-pix{
 margin: 5px 5px 5px 5px;
 width: 300px;
 height: 200px;
 border-radius: 10px 10px 10px 10px;
}

.far fa-angle-left {
  display: flex;
}
.far fa-angle-right {
  display: flex;
}