body{
  margin: 0;
  padding: 0;
  background-color: #262626;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
} 

.main-pics-cont{
  display: flex;
  justify-content: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10%;
  font-size: -webkit-xxx-large;
  color: white;
  opacity: .7;
}
@media screen and (min-width: 576px) {
  .main-pics-cont {
    flex-direction: row;
  }
}
.fas {
  display: flex;
  justify-content: center;
}

.Welcome {
  display: flex;
  flex-flow: row nowrap;
  justify-content: inherit;
  align-items: center;
  > a {
    transform: translate(-100%, -100%);
    margin-top: 100%;
    margin-left: 45em;
    text-transform: uppercase;
    color: white;
    line-height: 55px;
    text-decoration: none;
    font-size: 50px;
    font-family: verdana;
    letter-spacing: 30px;
    mix-blend-mode: hue;
  }

    > a:before, a:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: rgb(125, 130, 134);
      transition: 1s;
      mix-blend-mode: hue;
    }
    > a:before {
      bottom: -1px;
      left: 2px;
    }
    > a:after{
      bottom: -1px;
      right: 43px;
    }

    > a:hover:before, a:hover:after,{
      width: calc(612px / 2);
      height: calc(60px / 0);
    }
}

.car-pix{
 margin: 5px 5px 5px 5px;
 width: 400px;
 height: 300px;
 border-radius: 20px 20px 20px 20px;
}

.far fa-angle-left {
  display: flex;
}
.far fa-angle-right {
  display: flex;
}