* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.signUp-container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 61px;
  font-size: 3em;
  color: white;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 12px;
  color: white;
}

input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 6px;
  height: 3em;
  border-radius: 6px;
}

.btn {
  padding: 15px 25px 15px 25px;
  background-color: darkgray;
  border: hidden;
  font-size: 20px;
  color: white;
  margin-top: 18px;
  text-shadow: 1px 1px 2px #000000;
  border-radius: 6px;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

@media screen and (min-width: 576px) {
  .main {
    flex-direction: row;
  }
}

header {
  flex: 0 0 10vh;
  background: steelblue;
}

.footer {
  flex: 0 0 10vh;
  background: steelblue;
}

aside {
  background-color: steelblue;
  flex: 0 0 10vw;
  color: black;
}

article {
  flex: 1 1 auto;
  background: darkgray;
}

nav {
  background-color: steelblue;
  flex: 0 0 10vw;
  color: black;
  order: 2;
}
