* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer, aside, nav, article {
  padding: 1em;
  color: white;
  font-size: 20px;
}

.signUp-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}


@media screen and (min-width: 576px) {
  .main {
    flex-direction: row;
  }
}

header {
  flex: 0 0 10vh;
  background: steelblue;
}

.footer {
  flex: 0 0 10vh;
  background: steelblue;
}

aside {
  background-color: steelblue;
  flex: 0 0 10vw;
  color: black;
}

article {
  flex: 1 1 auto;
  background: darkgray;
}

nav {
  background-color: steelblue;
  flex: 0 0 10vw;
  color: black;
  order: 2;
}
